<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-Page</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <main class="page">
        <h2>lilUrl</h2>

        <section class="card">
            <form action="/lilUrl" method="post">
                <label> give your URL</label><br>
                <input type="string" name="redirectUrl" placeholder="https://example.com" required/>
                <button type="submit">generate</button>
            </form>

            <% if (locals.shortId) { %>
                <div class="result">
                    <p>URL generated: <a href="http://localhost:8001/lilUrl/<%= shortId %>">http://localhost:8001/lilUrl/<%= shortId %></a></p>
                    <p>Short ID :<%= shortId %></p>
                </div>
            <% } %>
        </section>

        <hr>

        <% if (locals.userRole === "ADMIN"&& locals.adminUserResult) { %>
        <section class="card">
            <table>
                <thead>
                    <th>Name</th>
                    <th>email</th>
                    <th>role</th>
                </thead>
                <tbody>
                    <% adminUserResult.forEach(user => { %>
                    <tr>
                        <td><%= user.name %></td>
                        <td><%= user.email %></td>
                        <td><%= user.role %></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </section>
        <% } %>

        <hr>

        <section class="card">
            <form action="/lilUrl/analytics" method="get">
                <label>Enter shortID</label>
                <input type="string" name="shortId" placeholder="gl6DS_Oh"/>
                <button type="submit">View History</button>
            </form>

            <% if (locals.result || locals.totalClicks) { %>
            <table>
                <thead>
                    <th>short ID</th>
                    <th>Main URL</th>
                    <th>Visit History</th>
                </thead>
                <tbody>
                    <tr>
                        <td><%= result.shortId %></td>
                        <td><%= result.redirectUrl %></td>
                        <td><%= totalClicks %></td>
                    </tr>
                </tbody>
            </table>
            <% } %>
        </section>
    </main>
</body>
</html>